$body-bg: #f8f9fa;
$body-color: #343a40;
$paeij-vert: #116c52;
$paeij-jaune: #ffce1a;
$paeij-rouge: #db1018;

@import "~bootstrap/scss/bootstrap";

//Reset
body {
  font-family: Poppins, sans-serif;
}
main {
  min-height: 80vh;
  margin-bottom: 50px;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

// h3,
// h4 {
//   padding: 1.25rem;
// }
/*
** Navbar
*/
.header {
  background-color: $paeij-vert !important;
  border-top: 4px solid $paeij-jaune;
  a {
    font-weight: 500;
  }
  .logo {
    width: 14rem;
  }
}
.main {
  margin-top: 100px;
}
// Home page
.a-propos {
  h1 {
    font-size: 3rem;
    font-weight: bold;
  }
  h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #4b5563;
  }
  p {
    line-height: 3rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: #6b7280;
    a {
      color: $paeij-vert;
      text-decoration: none;
      font-weight: bold;
    }
  }
  .card__paeij {
    border: 0;
    border-left: 4px solid $paeij-jaune;
    p {
      line-height: 2rem;
      font-size: 1.3rem;
      font-weight: 500;
    }
  }
}
.search {
  h1 {
    font-size: 2rem;
    font-weight: bold;
  }
}

.leaflet-container {
  height: 64rem;
  width: 100%;
}

.sidebar {
  list-style: none;
  padding-left: 0;
  li {
    padding: 1rem 0;
    a {
      text-decoration: none;
      color: #bdffb5;
      font-size: 1.3rem;
      width: 100%;
      padding: 1rem;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 2px;
      &.active {
        color: #ffffff;
      }
    }
  }
}

.sidebar-card {
  background: linear-gradient(to right, #11998e, #38ef7d);
}
